h2{
    text-align: center;
}
.login-container{
    background-color: #f8f8f8;
    border-left: 5px solid #1da1f2;
    width:40%;
    margin:3rem auto 0 auto;
    padding: 1.5rem 2rem;
}
.submit-button{
    border:none;
    color:#f8f8f8;
    cursor: pointer;
    margin-top: 3rem;
    padding:0.5rem 0.5rem;
    width:100px;
    text-align: center;
    background-color:darken( #1da1f2,10%);
    transition: 0.2s linear all;
    margin-left: 40%;
}
.submit-button:hover{
    background-color:darken( #1da1f2,20%);
}
